<nav class="navbar navbar-expand-md navbar-light  bg-light">
    <a class="navbar-brand" [routerLink]="['/']">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a *ngIf="isLoggedIn && isAdmin" class="nav-link" [routerLink]="['/students']">Management</a>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
            <button *ngIf="!isLoggedIn" class="btn btn-primary my-2 my-sm-0" [routerLink]="['/login']">Login</button>
            <button *ngIf="!isLoggedIn" class="btn btn-info my-2 my-sm-0 mx-3" [routerLink]="['/register']">register</button>
            <button *ngIf="isLoggedIn" class="btn btn-danger my-2 my-sm-0" (click)="logout()">logout</button>
        </form>
    </div>
</nav>