<app-header></app-header>

<div class="container">

    <div class="row">
        <div class="col-6 mt-5 mb-3">
            <h1>Tasks List</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-6 mb-3">
            <button class="btn btn-info">Add Task</button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="alert alert-warning">There is no task</div>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Date Added</th>
                        <th>Deadline</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> 
                            <button class="btn btn-success mr-2"><i class="far fa-check-square"></i></button>
                            <button class="btn btn-warning mr-2"><i class="far fa-edit"></i></button>
                            <button class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-6 mt-5 mb-3">
            <h1>Done !</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="alert alert-warning">You have not completed any task yet !</div>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Date Added</th>
                        <th>Completed At</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> 
                            <button class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>