<app-header></app-header>

<div class="container">

    <div class="row">
        <div class="col-6 mt-5 mb-3">
            <h1>Tasks List</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-6 mb-3">
            <button *ngIf="isStudent" class="btn btn-info" [routerLink]="['/students/tasks/',studentId,'add']">Add
                Task</button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div *ngIf="tasksList.length==0" class="alert alert-warning">There is no task</div>
            <table *ngIf="tasksList.length>0" class="table table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Date Added</th>
                        <th *ngIf="isStudent">#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let task of tasksList;let i = index">
                        <td>{{i}}</td>
                        <td>{{task.title}}</td>
                        <td>{{task.dateAdded | date : 'short'}} </td>
                        <td>
                            <button *ngIf="isStudent" class="btn btn-success mr-2" (click)="endTask(task._id)"><i
                                    class="far fa-check-square"></i></button>
                            <button *ngIf="isStudent" class="btn btn-warning mr-2" [routerLink]="['/students/tasks/',studentId,'update',task._id]"><i class="far fa-edit"></i></button>
                            <button *ngIf="isStudent" class="btn btn-danger" (click)="delete(task._id,i,'task')"><i class="far fa-trash-alt"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-6 mt-5 mb-3">
            <h1>Done !</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div *ngIf="doneList.length==0" class="alert alert-warning">You have not completed any task yet !</div>
            <table *ngIf="doneList.length>0" class="table table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Date Added</th>
                        <th>Completed At</th>
                        <th *ngIf="isStudent">#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let done of doneList;let i = index">
                        <td>{{i}}</td>
                        <td>{{done.title}}</td>
                        <td>{{done.dateAdded | date : 'short'}} </td>
                        <td>{{done.completedAt | date : 'short'}}</td>
                        <td>
                            <button *ngIf="isStudent" class="btn btn-danger" (click)="delete(done._id,i,'done')"><i class="far fa-trash-alt"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>